* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 7.5%;
  background-color: #121e26;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.2);
}

.logo {
  cursor: pointer;
  width: 80px;
  height: 80px;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #94c6f2;
}

.cta {
  padding: 9px 25px;
  background-color: #67a4da;
  border: none;
  color: #121e26;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #94c6f2;
}

.cta:first-child {
  margin-right: 20px;
}
