:root {
  background: rgb(103,164,218);
  background: linear-gradient(180deg, rgba(103,164,218,1) 26%, rgba(104,164,218,1) 27%, rgba(148,198,242,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: Poppins;
  font-size: 3.5em;
  padding: .5em;
}
